.elementor-1230 .elementor-element.elementor-element-450cad6 {
	--display: flex;
	--min-height: 45vh;
	--flex-direction: column;
	--container-widget-width: 100%;
	--container-widget-height: initial;
	--container-widget-flex-grow: 0;
	--container-widget-align-self: initial;
	--flex-wrap-mobile: wrap;
	--justify-content: center;
	--gap: 10px 10px;
	--row-gap: 10px;
	--column-gap: 10px;
	--overlay-opacity: 0.5;
}

.elementor-1230 .elementor-element.elementor-element-450cad6:not(.elementor-motion-effects-element-type-background),
.elementor-1230 .elementor-element.elementor-element-450cad6>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: var(--e-global-color-b6d6b23);
}

.elementor-1230 .elementor-element.elementor-element-450cad6::before,
.elementor-1230 .elementor-element.elementor-element-450cad6>.elementor-background-video-container::before,
.elementor-1230 .elementor-element.elementor-element-450cad6>.e-con-inner>.elementor-background-video-container::before,
.elementor-1230 .elementor-element.elementor-element-450cad6>.elementor-background-slideshow::before,
.elementor-1230 .elementor-element.elementor-element-450cad6>.e-con-inner>.elementor-background-slideshow::before,
.elementor-1230 .elementor-element.elementor-element-450cad6>.elementor-motion-effects-container>.elementor-motion-effects-layer::before {
	background-color: var(--e-global-color-b6d6b23);
	background-image: url("../../2025/08/Blink.png");
	--background-overlay: '';
	background-position: 1500px 0px;
	background-repeat: no-repeat;
	background-size: 10% auto;
}

.elementor-1230 .elementor-element.elementor-element-05151cc {
	text-align: center;
}

.elementor-1230 .elementor-element.elementor-element-05151cc .elementor-heading-title {
	color: var(--e-global-color-primary);
}

.elementor-1230 .elementor-element.elementor-element-7c3f147 {
	text-align: center;
	color: var(--e-global-color-primary);
}

.elementor-1230 .elementor-element.elementor-element-7c3f147 a {
	color: var(--e-global-color-secondary);
}

.elementor-1230 .elementor-element.elementor-element-7c3f147 a:hover,
.elementor-1230 .elementor-element.elementor-element-7c3f147 a:focus {
	color: var(--e-global-color-primary);
}

.elementor-1230 .elementor-element.elementor-element-47bc475 {
	--display: flex;
	--flex-direction: row;
	--container-widget-width: initial;
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--flex-wrap-mobile: wrap;
	--gap: 40px 40px;
	--row-gap: 40px;
	--column-gap: 40px;
	--padding-top: 6em;
	--padding-bottom: 6em;
	--padding-left: 0em;
	--padding-right: 0em;
}

.elementor-1230 .elementor-element.elementor-element-343896c {
	--display: flex;
	--justify-content: flex-end;
	--gap: 0px 0px;
	--row-gap: 0px;
	--column-gap: 0px;
	border-style: solid;
	--border-style: solid;
	border-width: 0px 0px 1px 0px;
	--border-top-width: 0px;
	--border-right-width: 0px;
	--border-bottom-width: 1px;
	--border-left-width: 0px;
	border-color: var(--e-global-color-secondary);
	--border-color: var(--e-global-color-secondary);
	--border-radius: 0px 0px 0px 0px;
	--padding-top: 20px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}

.elementor-1230 .elementor-element.elementor-element-c2ead51 {
	--display: flex;
	--overflow: hidden;
	--overlay-opacity: 1;
	--border-radius: 25px 25px 25px 25px;
	--padding-top: 40px;
	--padding-bottom: 40px;
	--padding-left: 40px;
	--padding-right: 40px;
}

.elementor-1230 .elementor-element.elementor-element-c2ead51:not(.elementor-motion-effects-element-type-background),
.elementor-1230 .elementor-element.elementor-element-c2ead51>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: var(--e-global-color-primary);
}

.elementor-1230 .elementor-element.elementor-element-c2ead51::before,
.elementor-1230 .elementor-element.elementor-element-c2ead51>.elementor-background-video-container::before,
.elementor-1230 .elementor-element.elementor-element-c2ead51>.e-con-inner>.elementor-background-video-container::before,
.elementor-1230 .elementor-element.elementor-element-c2ead51>.elementor-background-slideshow::before,
.elementor-1230 .elementor-element.elementor-element-c2ead51>.e-con-inner>.elementor-background-slideshow::before,
.elementor-1230 .elementor-element.elementor-element-c2ead51>.elementor-motion-effects-container>.elementor-motion-effects-layer::before {
	background-color: var(--e-global-color-accent);
	--background-overlay: '';
}

.elementor-1230 .elementor-element.elementor-element-46fd3d6 {
	--display: flex;
	--gap: 10px 10px;
	--row-gap: 10px;
	--column-gap: 10px;
}

.elementor-1230 .elementor-element.elementor-element-fdd0e0f {
	width: var(--container-widget-width, 75%);
	max-width: 75%;
	--container-widget-width: 75%;
	--container-widget-flex-grow: 0;
	z-index: 3;
}

.elementor-1230 .elementor-element.elementor-element-fdd0e0f.elementor-element {
	--align-self: flex-start;
}

.elementor-1230 .elementor-element.elementor-element-fdd0e0f .elementor-heading-title {
	color: var(--e-global-color-primary);
}

.elementor-1230 .elementor-element.elementor-element-5e249dc {
	--display: flex;
	--border-radius: 25px 25px 25px 25px;
	--padding-top: 10px;
	--padding-bottom: 15px;
	--padding-left: 20px;
	--padding-right: 10px;
	--z-index: 3;
}

.elementor-1230 .elementor-element.elementor-element-5e249dc:not(.elementor-motion-effects-element-type-background),
.elementor-1230 .elementor-element.elementor-element-5e249dc>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: var(--e-global-color-ee2d04d);
}

.elementor-1230 .elementor-element.elementor-element-2666dd0 .elementor-icon-box-wrapper {
	align-items: end;
	text-align: left;
}

.elementor-1230 .elementor-element.elementor-element-2666dd0 {
	--icon-box-icon-margin: 10px;
}

.elementor-1230 .elementor-element.elementor-element-2666dd0 .elementor-icon-box-title {
	margin-block-end: 5px;
	color: var(--e-global-color-b6d6b23);
}

.elementor-1230 .elementor-element.elementor-element-2666dd0.elementor-view-stacked .elementor-icon {
	background-color: var(--e-global-color-b6d6b23);
	fill: var(--e-global-color-primary);
	color: var(--e-global-color-primary);
}

.elementor-1230 .elementor-element.elementor-element-2666dd0.elementor-view-framed .elementor-icon,
.elementor-1230 .elementor-element.elementor-element-2666dd0.elementor-view-default .elementor-icon {
	fill: var(--e-global-color-b6d6b23);
	color: var(--e-global-color-b6d6b23);
	border-color: var(--e-global-color-b6d6b23);
}

.elementor-1230 .elementor-element.elementor-element-2666dd0.elementor-view-framed .elementor-icon {
	background-color: var(--e-global-color-primary);
}

.elementor-1230 .elementor-element.elementor-element-2666dd0.elementor-view-stacked:has(:hover) .elementor-icon,
.elementor-1230 .elementor-element.elementor-element-2666dd0.elementor-view-stacked:has(:focus) .elementor-icon {
	background-color: var(--e-global-color-primary);
	fill: var(--e-global-color-b6d6b23);
	color: var(--e-global-color-b6d6b23);
}

.elementor-1230 .elementor-element.elementor-element-2666dd0.elementor-view-framed:has(:hover) .elementor-icon,
.elementor-1230 .elementor-element.elementor-element-2666dd0.elementor-view-default:has(:hover) .elementor-icon,
.elementor-1230 .elementor-element.elementor-element-2666dd0.elementor-view-framed:has(:focus) .elementor-icon,
.elementor-1230 .elementor-element.elementor-element-2666dd0.elementor-view-default:has(:focus) .elementor-icon {
	fill: var(--e-global-color-primary);
	color: var(--e-global-color-primary);
	border-color: var(--e-global-color-primary);
}

.elementor-1230 .elementor-element.elementor-element-2666dd0.elementor-view-framed:has(:hover) .elementor-icon,
.elementor-1230 .elementor-element.elementor-element-2666dd0.elementor-view-framed:has(:focus) .elementor-icon {
	background-color: var(--e-global-color-b6d6b23);
}

.elementor-1230 .elementor-element.elementor-element-2666dd0 .elementor-icon {
	font-size: 28px;
	padding: 10px;
}

.elementor-1230 .elementor-element.elementor-element-2666dd0 .elementor-icon i {
	transform: rotate(0deg);
}

.elementor-1230 .elementor-element.elementor-element-2666dd0 .elementor-icon-box-title,
.elementor-1230 .elementor-element.elementor-element-2666dd0 .elementor-icon-box-title a {
	font-family: var(--e-global-typography-c4e8d42-font-family), Sans-serif;
	font-size: var(--e-global-typography-c4e8d42-font-size);
	line-height: var(--e-global-typography-c4e8d42-line-height);
}

.elementor-1230 .elementor-element.elementor-element-2666dd0:has(:hover) .elementor-icon-box-title,
.elementor-1230 .elementor-element.elementor-element-2666dd0:has(:focus) .elementor-icon-box-title {
	color: var(--e-global-color-primary);
}

.elementor-1230 .elementor-element.elementor-element-2666dd0 .elementor-icon-box-description {
	font-family: var(--e-global-typography-5920a13-font-family), Sans-serif;
	font-size: var(--e-global-typography-5920a13-font-size);
	font-weight: var(--e-global-typography-5920a13-font-weight);
	text-transform: var(--e-global-typography-5920a13-text-transform);
	line-height: var(--e-global-typography-5920a13-line-height);
	color: var(--e-global-color-primary);
}

.elementor-1230 .elementor-element.elementor-element-2c7c85d {
	--display: flex;
	--border-radius: 25px 25px 25px 25px;
	--padding-top: 10px;
	--padding-bottom: 15px;
	--padding-left: 20px;
	--padding-right: 10px;
	--z-index: 3;
}

.elementor-1230 .elementor-element.elementor-element-2c7c85d:not(.elementor-motion-effects-element-type-background),
.elementor-1230 .elementor-element.elementor-element-2c7c85d>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: var(--e-global-color-ee2d04d);
}

.elementor-1230 .elementor-element.elementor-element-5dfcf79 .elementor-icon-box-wrapper {
	align-items: end;
	text-align: left;
}

.elementor-1230 .elementor-element.elementor-element-5dfcf79 {
	--icon-box-icon-margin: 10px;
}

.elementor-1230 .elementor-element.elementor-element-5dfcf79 .elementor-icon-box-title {
	margin-block-end: 5px;
	color: var(--e-global-color-b6d6b23);
}

.elementor-1230 .elementor-element.elementor-element-5dfcf79.elementor-view-stacked .elementor-icon {
	background-color: var(--e-global-color-b6d6b23);
	fill: var(--e-global-color-primary);
	color: var(--e-global-color-primary);
}

.elementor-1230 .elementor-element.elementor-element-5dfcf79.elementor-view-framed .elementor-icon,
.elementor-1230 .elementor-element.elementor-element-5dfcf79.elementor-view-default .elementor-icon {
	fill: var(--e-global-color-b6d6b23);
	color: var(--e-global-color-b6d6b23);
	border-color: var(--e-global-color-b6d6b23);
}

.elementor-1230 .elementor-element.elementor-element-5dfcf79.elementor-view-framed .elementor-icon {
	background-color: var(--e-global-color-primary);
}

.elementor-1230 .elementor-element.elementor-element-5dfcf79.elementor-view-stacked:has(:hover) .elementor-icon,
.elementor-1230 .elementor-element.elementor-element-5dfcf79.elementor-view-stacked:has(:focus) .elementor-icon {
	background-color: var(--e-global-color-primary);
	fill: var(--e-global-color-b6d6b23);
	color: var(--e-global-color-b6d6b23);
}

.elementor-1230 .elementor-element.elementor-element-5dfcf79.elementor-view-framed:has(:hover) .elementor-icon,
.elementor-1230 .elementor-element.elementor-element-5dfcf79.elementor-view-default:has(:hover) .elementor-icon,
.elementor-1230 .elementor-element.elementor-element-5dfcf79.elementor-view-framed:has(:focus) .elementor-icon,
.elementor-1230 .elementor-element.elementor-element-5dfcf79.elementor-view-default:has(:focus) .elementor-icon {
	fill: var(--e-global-color-primary);
	color: var(--e-global-color-primary);
	border-color: var(--e-global-color-primary);
}

.elementor-1230 .elementor-element.elementor-element-5dfcf79.elementor-view-framed:has(:hover) .elementor-icon,
.elementor-1230 .elementor-element.elementor-element-5dfcf79.elementor-view-framed:has(:focus) .elementor-icon {
	background-color: var(--e-global-color-b6d6b23);
}

.elementor-1230 .elementor-element.elementor-element-5dfcf79 .elementor-icon {
	font-size: 28px;
	padding: 10px;
}

.elementor-1230 .elementor-element.elementor-element-5dfcf79 .elementor-icon i {
	transform: rotate(0deg);
}

.elementor-1230 .elementor-element.elementor-element-5dfcf79 .elementor-icon-box-title,
.elementor-1230 .elementor-element.elementor-element-5dfcf79 .elementor-icon-box-title a {
	font-family: var(--e-global-typography-c4e8d42-font-family), Sans-serif;
	font-size: var(--e-global-typography-c4e8d42-font-size);
	line-height: var(--e-global-typography-c4e8d42-line-height);
}

.elementor-1230 .elementor-element.elementor-element-5dfcf79:has(:hover) .elementor-icon-box-title,
.elementor-1230 .elementor-element.elementor-element-5dfcf79:has(:focus) .elementor-icon-box-title {
	color: var(--e-global-color-primary);
}

.elementor-1230 .elementor-element.elementor-element-5dfcf79 .elementor-icon-box-description {
	font-family: var(--e-global-typography-5920a13-font-family), Sans-serif;
	font-size: var(--e-global-typography-5920a13-font-size);
	font-weight: var(--e-global-typography-5920a13-font-weight);
	text-transform: var(--e-global-typography-5920a13-text-transform);
	line-height: var(--e-global-typography-5920a13-line-height);
	color: var(--e-global-color-primary);
}

.elementor-1230 .elementor-element.elementor-element-bdd2265 {
	--divider-border-style: solid;
	--divider-color: var(--e-global-color-a67612e);
	--divider-border-width: 1px;
}

.elementor-1230 .elementor-element.elementor-element-bdd2265 .elementor-divider-separator {
	width: 100%;
}

.elementor-1230 .elementor-element.elementor-element-bdd2265 .elementor-divider {
	padding-block-start: 2px;
	padding-block-end: 2px;
}

.elementor-1230 .elementor-element.elementor-element-dcc815d {
	--display: flex;
	--gap: 15px 15px;
	--row-gap: 15px;
	--column-gap: 15px;
}

.elementor-1230 .elementor-element.elementor-element-3e67b8b .elementor-heading-title {
	color: var(--e-global-color-primary);
}

.elementor-1230 .elementor-element.elementor-element-1b105ea {
	--grid-template-columns: repeat(0, auto);
	text-align: left;
	z-index: 3;
	--icon-size: 15px;
	--grid-column-gap: 5px;
	--grid-row-gap: 0px;
}

.elementor-1230 .elementor-element.elementor-element-1b105ea .elementor-social-icon {
	background-color: var(--e-global-color-secondary);
}

.elementor-1230 .elementor-element.elementor-element-1b105ea .elementor-social-icon i {
	color: var(--e-global-color-primary);
}

.elementor-1230 .elementor-element.elementor-element-1b105ea .elementor-social-icon svg {
	fill: var(--e-global-color-primary);
}

.elementor-1230 .elementor-element.elementor-element-1b105ea .elementor-icon {
	border-radius: 7px 7px 7px 7px;
}

.elementor-1230 .elementor-element.elementor-element-1b105ea .elementor-social-icon:hover {
	background-color: var(--e-global-color-b6d6b23);
}

.elementor-1230 .elementor-element.elementor-element-1b105ea .elementor-social-icon:hover i {
	color: var(--e-global-color-primary);
}

.elementor-1230 .elementor-element.elementor-element-1b105ea .elementor-social-icon:hover svg {
	fill: var(--e-global-color-primary);
}

.elementor-1230 .elementor-element.elementor-element-45ff4d2 {
	--display: flex;
	--justify-content: flex-end;
	--margin-top: -85%;
	--margin-bottom: 0%;
	--margin-left: 3%;
	--margin-right: 0%;
}

.elementor-1230 .elementor-element.elementor-element-714e725 {
	text-align: right;
}

.elementor-1230 .elementor-element.elementor-element-a912fa0 {
	--display: flex;
	--overflow: hidden;
}

.elementor-1230 .elementor-element.elementor-element-01ca07a {
	--display: flex;
	--flex-direction: row;
	--container-widget-width: initial;
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--flex-wrap-mobile: wrap;
	--gap: 10px 10px;
	--row-gap: 10px;
	--column-gap: 10px;
	--overflow: hidden;
	--padding-top: 0px;
	--padding-bottom: 5px;
	--padding-left: 0px;
	--padding-right: 0px;
}

.elementor-1230 .elementor-element.elementor-element-2034449 .elementor-heading-title {
	color: var(--e-global-color-secondary);
}

.elementor-1230 .elementor-element.elementor-element-64e16bf {
	--display: flex;
	--flex-direction: column;
	--container-widget-width: 100%;
	--container-widget-height: initial;
	--container-widget-flex-grow: 0;
	--container-widget-align-self: initial;
	--flex-wrap-mobile: wrap;
}

.elementor-1230 .elementor-element.elementor-element-555ff0a iframe {
	height: 700px;
	filter: brightness(100%) contrast(100%) saturate(0%) blur(0px) hue-rotate(0deg);
	transition-duration: 0.7s;
}

.elementor-1230 .elementor-element.elementor-element-555ff0a:hover iframe {
	filter: brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
}

.elementor-1230 .elementor-element.elementor-element-0e2b0fb {
	--display: flex;
	--flex-direction: column;
	--container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
	--container-widget-height: initial;
	--container-widget-flex-grow: 0;
	--container-widget-align-self: initial;
	--flex-wrap-mobile: wrap;
	--align-items: center;
	--margin-top: -275px;
	--margin-bottom: 0px;
	--margin-left: 0px;
	--margin-right: 0px;
	--padding-top: 0em;
	--padding-bottom: 0em;
	--padding-left: 0em;
	--padding-right: 0em;
}

.elementor-1230 .elementor-element.elementor-element-0e2b0fb:not(.elementor-motion-effects-element-type-background),
.elementor-1230 .elementor-element.elementor-element-0e2b0fb>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: transparent;
	background-image: linear-gradient(180deg, var(--e-global-color-d8c6e74) 60%, var(--e-global-color-7d25338) 0%);
}

.elementor-1230 .elementor-element.elementor-element-8715261 {
	--display: flex;
	--flex-direction: row;
	--container-widget-width: initial;
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--flex-wrap-mobile: wrap;
	--overlay-opacity: 0.25;
	--border-radius: 25px 25px 25px 25px;
	--z-index: 2;
}

.elementor-1230 .elementor-element.elementor-element-8715261:not(.elementor-motion-effects-element-type-background),
.elementor-1230 .elementor-element.elementor-element-8715261>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: var(--e-global-color-accent);
}

.elementor-1230 .elementor-element.elementor-element-8715261::before,
.elementor-1230 .elementor-element.elementor-element-8715261>.elementor-background-video-container::before,
.elementor-1230 .elementor-element.elementor-element-8715261>.e-con-inner>.elementor-background-video-container::before,
.elementor-1230 .elementor-element.elementor-element-8715261>.elementor-background-slideshow::before,
.elementor-1230 .elementor-element.elementor-element-8715261>.e-con-inner>.elementor-background-slideshow::before,
.elementor-1230 .elementor-element.elementor-element-8715261>.elementor-motion-effects-container>.elementor-motion-effects-layer::before {
	background-image: url("../../2025/08/Blink.png");
	--background-overlay: '';
	background-position: 950px -30px;
	background-repeat: no-repeat;
	background-size: 20% auto;
}

.elementor-1230 .elementor-element.elementor-element-b917f46 {
	--display: flex;
	--justify-content: center;
}

.elementor-1230 .elementor-element.elementor-element-22efc43 {
	--display: flex;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 100px;
	--padding-right: 0px;
}

.elementor-1230 .elementor-element.elementor-element-a3e4fe7 {
	--display: flex;
	--gap: 0px 0px;
	--row-gap: 0px;
	--column-gap: 0px;
	--overflow: hidden;
}

.elementor-1230 .elementor-element.elementor-element-dfb796b .elementor-heading-title {
	color: var(--e-global-color-primary);
}

.elementor-1230 .elementor-element.elementor-element-dcb87f4 .elementor-heading-title {
	color: var(--e-global-color-secondary);
}

.elementor-1230 .elementor-element.elementor-element-ba19717 {
	width: var(--container-widget-width, 70%);
	max-width: 70%;
	--container-widget-width: 70%;
	--container-widget-flex-grow: 0;
	color: var(--e-global-color-primary);
}

.elementor-1230 .elementor-element.elementor-element-ba19717.elementor-element {
	--align-self: flex-start;
}

.elementor-1230 .elementor-element.elementor-element-3d4530b .elementor-button {
	background-color: var(--e-global-color-secondary);
	fill: var(--e-global-color-primary);
	color: var(--e-global-color-primary);
	transition-duration: 0.7s;
}

.elementor-1230 .elementor-element.elementor-element-3d4530b .elementor-button:hover,
.elementor-1230 .elementor-element.elementor-element-3d4530b .elementor-button:focus {
	background-color: var(--e-global-color-primary);
	color: var(--e-global-color-b6d6b23);
}

.elementor-1230 .elementor-element.elementor-element-3d4530b .elementor-button-content-wrapper {
	flex-direction: row-reverse;
}

.elementor-1230 .elementor-element.elementor-element-3d4530b .elementor-button .elementor-button-content-wrapper {
	gap: 10px;
}

.elementor-1230 .elementor-element.elementor-element-3d4530b .elementor-button:hover svg,
.elementor-1230 .elementor-element.elementor-element-3d4530b .elementor-button:focus svg {
	fill: var(--e-global-color-b6d6b23);
}

.elementor-1230 .elementor-element.elementor-element-4ae9699 {
	--display: flex;
	--justify-content: flex-end;
}

.elementor-1230 .elementor-element.elementor-element-9dc853d {
	--display: flex;
	--overflow: hidden;
	--margin-top: -23%;
	--margin-bottom: 0%;
	--margin-left: 6%;
	--margin-right: 0%;
}

.elementor-1230 .elementor-element.elementor-element-78c57f5 {
	z-index: 2;
	text-align: right;
}

@media(min-width:768px) {
	.elementor-1230 .elementor-element.elementor-element-c2ead51 {
		--width: 75%;
	}

	.elementor-1230 .elementor-element.elementor-element-5e249dc {
		--width: 75%;
	}

	.elementor-1230 .elementor-element.elementor-element-2c7c85d {
		--width: 75%;
	}

	.elementor-1230 .elementor-element.elementor-element-8715261 {
		--width: 85%;
	}

	.elementor-1230 .elementor-element.elementor-element-b917f46 {
		--width: 60%;
	}

	.elementor-1230 .elementor-element.elementor-element-4ae9699 {
		--width: 40%;
	}
}

@media(max-width:1024px) {
	.elementor-1230 .elementor-element.elementor-element-450cad6 {
		--min-height: 30vh;
		--gap: 5px 5px;
		--row-gap: 5px;
		--column-gap: 5px;
	}

	.elementor-1230 .elementor-element.elementor-element-450cad6::before,
	.elementor-1230 .elementor-element.elementor-element-450cad6>.elementor-background-video-container::before,
	.elementor-1230 .elementor-element.elementor-element-450cad6>.e-con-inner>.elementor-background-video-container::before,
	.elementor-1230 .elementor-element.elementor-element-450cad6>.elementor-background-slideshow::before,
	.elementor-1230 .elementor-element.elementor-element-450cad6>.e-con-inner>.elementor-background-slideshow::before,
	.elementor-1230 .elementor-element.elementor-element-450cad6>.elementor-motion-effects-container>.elementor-motion-effects-layer::before {
		background-position: 653px 25px;
	}

	.elementor-1230 .elementor-element.elementor-element-47bc475 {
		--flex-wrap: wrap;
		--padding-top: 3em;
		--padding-bottom: 3em;
		--padding-left: 0em;
		--padding-right: 0em;
	}

	.elementor-1230 .elementor-element.elementor-element-2666dd0 .elementor-icon-box-title,
	.elementor-1230 .elementor-element.elementor-element-2666dd0 .elementor-icon-box-title a {
		font-size: var(--e-global-typography-c4e8d42-font-size);
		line-height: var(--e-global-typography-c4e8d42-line-height);
	}

	.elementor-1230 .elementor-element.elementor-element-2666dd0 .elementor-icon-box-description {
		font-size: var(--e-global-typography-5920a13-font-size);
		line-height: var(--e-global-typography-5920a13-line-height);
	}

	.elementor-1230 .elementor-element.elementor-element-5dfcf79 .elementor-icon-box-title,
	.elementor-1230 .elementor-element.elementor-element-5dfcf79 .elementor-icon-box-title a {
		font-size: var(--e-global-typography-c4e8d42-font-size);
		line-height: var(--e-global-typography-c4e8d42-line-height);
	}

	.elementor-1230 .elementor-element.elementor-element-5dfcf79 .elementor-icon-box-description {
		font-size: var(--e-global-typography-5920a13-font-size);
		line-height: var(--e-global-typography-5920a13-line-height);
	}

	.elementor-1230 .elementor-element.elementor-element-45ff4d2 {
		--margin-top: -78%;
		--margin-bottom: 0%;
		--margin-left: 3%;
		--margin-right: 0%;
	}

	.elementor-1230 .elementor-element.elementor-element-01ca07a {
		--justify-content: center;
		--align-items: center;
		--container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
	}

	.elementor-1230 .elementor-element.elementor-element-6e925e4 {
		text-align: center;
	}

	.elementor-1230 .elementor-element.elementor-element-0e2b0fb {
		--margin-top: -65%;
		--margin-bottom: 0%;
		--margin-left: 0%;
		--margin-right: 0%;
		--padding-top: 0em;
		--padding-bottom: 0em;
		--padding-left: 0em;
		--padding-right: 0em;
	}

	.elementor-1230 .elementor-element.elementor-element-8715261 {
		--flex-wrap: wrap;
	}

	.elementor-1230 .elementor-element.elementor-element-8715261::before,
	.elementor-1230 .elementor-element.elementor-element-8715261>.elementor-background-video-container::before,
	.elementor-1230 .elementor-element.elementor-element-8715261>.e-con-inner>.elementor-background-video-container::before,
	.elementor-1230 .elementor-element.elementor-element-8715261>.elementor-background-slideshow::before,
	.elementor-1230 .elementor-element.elementor-element-8715261>.e-con-inner>.elementor-background-slideshow::before,
	.elementor-1230 .elementor-element.elementor-element-8715261>.elementor-motion-effects-container>.elementor-motion-effects-layer::before {
		background-position: 0px 0px;
	}

	.elementor-1230 .elementor-element.elementor-element-22efc43 {
		--padding-top: 50px;
		--padding-bottom: 0px;
		--padding-left: 50px;
		--padding-right: 50px;
	}

	.elementor-1230 .elementor-element.elementor-element-dfb796b {
		text-align: center;
	}

	.elementor-1230 .elementor-element.elementor-element-dcb87f4 {
		text-align: center;
	}

	.elementor-1230 .elementor-element.elementor-element-ba19717 {
		--container-widget-width: 100%;
		--container-widget-flex-grow: 0;
		width: var(--container-widget-width, 100%);
		max-width: 100%;
		text-align: center;
	}

	.elementor-1230 .elementor-element.elementor-element-4ae9699 {
		--align-items: center;
		--container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
	}

	.elementor-1230 .elementor-element.elementor-element-9dc853d {
		--margin-top: 0%;
		--margin-bottom: 0%;
		--margin-left: 0%;
		--margin-right: 0%;
	}
}

@media(max-width:767px) {
	.elementor-1230 .elementor-element.elementor-element-450cad6 {
		--gap: 5px 5px;
		--row-gap: 5px;
		--column-gap: 5px;
	}

	.elementor-1230 .elementor-element.elementor-element-450cad6::before,
	.elementor-1230 .elementor-element.elementor-element-450cad6>.elementor-background-video-container::before,
	.elementor-1230 .elementor-element.elementor-element-450cad6>.e-con-inner>.elementor-background-video-container::before,
	.elementor-1230 .elementor-element.elementor-element-450cad6>.elementor-background-slideshow::before,
	.elementor-1230 .elementor-element.elementor-element-450cad6>.e-con-inner>.elementor-background-slideshow::before,
	.elementor-1230 .elementor-element.elementor-element-450cad6>.elementor-motion-effects-container>.elementor-motion-effects-layer::before {
		background-position: 292px 17px;
	}

	.elementor-1230 .elementor-element.elementor-element-343896c {
		--width: 100%;
	}

	.elementor-1230 .elementor-element.elementor-element-c2ead51 {
		--padding-top: 20px;
		--padding-bottom: 20px;
		--padding-left: 20px;
		--padding-right: 20px;
	}

	.elementor-1230 .elementor-element.elementor-element-fdd0e0f {
		--container-widget-width: 100%;
		--container-widget-flex-grow: 0;
		width: var(--container-widget-width, 100%);
		max-width: 100%;
		text-align: center;
	}

	.elementor-1230 .elementor-element.elementor-element-5e249dc {
		--padding-top: 5px;
		--padding-bottom: 10px;
		--padding-left: 10px;
		--padding-right: 5px;
	}

	.elementor-1230 .elementor-element.elementor-element-2666dd0 .elementor-icon-box-title,
	.elementor-1230 .elementor-element.elementor-element-2666dd0 .elementor-icon-box-title a {
		font-size: var(--e-global-typography-c4e8d42-font-size);
		line-height: var(--e-global-typography-c4e8d42-line-height);
	}

	.elementor-1230 .elementor-element.elementor-element-2666dd0 .elementor-icon-box-description {
		font-size: var(--e-global-typography-5920a13-font-size);
		line-height: var(--e-global-typography-5920a13-line-height);
	}

	.elementor-1230 .elementor-element.elementor-element-2c7c85d {
		--padding-top: 5px;
		--padding-bottom: 10px;
		--padding-left: 10px;
		--padding-right: 5px;
	}

	.elementor-1230 .elementor-element.elementor-element-5dfcf79 .elementor-icon-box-title,
	.elementor-1230 .elementor-element.elementor-element-5dfcf79 .elementor-icon-box-title a {
		font-size: var(--e-global-typography-c4e8d42-font-size);
		line-height: var(--e-global-typography-c4e8d42-line-height);
	}

	.elementor-1230 .elementor-element.elementor-element-5dfcf79 .elementor-icon-box-description {
		font-size: var(--e-global-typography-5920a13-font-size);
		line-height: var(--e-global-typography-5920a13-line-height);
	}

	.elementor-1230 .elementor-element.elementor-element-3e67b8b {
		text-align: center;
	}

	.elementor-1230 .elementor-element.elementor-element-1b105ea {
		text-align: center;
	}

	.elementor-1230 .elementor-element.elementor-element-45ff4d2 {
		--margin-top: 0%;
		--margin-bottom: 0%;
		--margin-left: 0%;
		--margin-right: 0%;
	}

	.elementor-1230 .elementor-element.elementor-element-45ff4d2.e-con {
		--align-self: flex-end;
	}

	.elementor-1230 .elementor-element.elementor-element-6d583ab {
		text-align: center;
	}

	.elementor-1230 .elementor-element.elementor-element-2034449 {
		text-align: center;
	}

	.elementor-1230 .elementor-element.elementor-element-0e2b0fb {
		--justify-content: center;
		--margin-top: -135%;
		--margin-bottom: 0%;
		--margin-left: 0%;
		--margin-right: 0%;
		--padding-top: 0em;
		--padding-bottom: 0em;
		--padding-left: 0em;
		--padding-right: 0em;
	}

	.elementor-1230 .elementor-element.elementor-element-8715261 {
		--width: 90%;
	}

	.elementor-1230 .elementor-element.elementor-element-8715261::before,
	.elementor-1230 .elementor-element.elementor-element-8715261>.elementor-background-video-container::before,
	.elementor-1230 .elementor-element.elementor-element-8715261>.e-con-inner>.elementor-background-video-container::before,
	.elementor-1230 .elementor-element.elementor-element-8715261>.elementor-background-slideshow::before,
	.elementor-1230 .elementor-element.elementor-element-8715261>.e-con-inner>.elementor-background-slideshow::before,
	.elementor-1230 .elementor-element.elementor-element-8715261>.elementor-motion-effects-container>.elementor-motion-effects-layer::before {
		background-position: 0px 0px;
	}

	.elementor-1230 .elementor-element.elementor-element-22efc43 {
		--padding-top: 50px;
		--padding-bottom: 0px;
		--padding-left: 20px;
		--padding-right: 20px;
	}
}

@media(max-width:1024px) and (min-width:768px) {
	.elementor-1230 .elementor-element.elementor-element-343896c {
		--width: 100%;
	}

	.elementor-1230 .elementor-element.elementor-element-8715261 {
		--width: 90%;
	}

	.elementor-1230 .elementor-element.elementor-element-b917f46 {
		--width: 100%;
	}

	.elementor-1230 .elementor-element.elementor-element-4ae9699 {
		--width: 100%;
	}

	.elementor-1230 .elementor-element.elementor-element-9dc853d {
		--width: 70%;
	}
}